---
title: Show Selection
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---


<div class="container">
	<div class="row">
		<div class="col-xs-12 canvas">
			<img src="http://placehold.it/500x500" alt="" class="item animated hide infinite item-code">
			<img src="http://placehold.it/500x500" alt="" class="item animated item-dev">
			<img src="http://placehold.it/500x500" alt="" class="item animated item-github">
		</div>
	</div>
</div>
